@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensanslight.woff2') format('woff2'), url('../fonts/opensans/opensanslight.woff') format('woff'), url('../fonts/opensans/opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensanslightitalic.woff2') format('woff2'), url('../fonts/opensans/opensanslightitalic.woff') format('woff'), url('../fonts/opensans/opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans.woff2') format('woff2'), url('../fonts/opensans/opensans.woff') format('woff'), url('../fonts/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src:  url('../fonts/opensans/opensansitalic.woff2') format('woff2'), url('../fonts/opensans/opensansitalic.woff') format('woff'), url('../fonts/opensans/opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensanssemibold.woff2') format('woff2'), url('../fonts/opensans/opensanssemibold.woff') format('woff'), url('../fonts/opensans/opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensanssemibolditalic.woff2') format('woff2'), url('../fonts/opensans/opensanssemibolditalic.woff') format('woff'), url('../fonts/opensans/opensanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensansbold.woff2') format('woff2'), url('../fonts/opensans/opensansbold.woff') format('woff'), url('../fonts/opensans/opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensansbolditalic.woff2') format('woff2'), url('../fonts/opensans/opensansbolditalic.woff') format('woff'), url('../fonts/opensans/opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src:  url('../fonts/opensans/opensansextrabold.woff2') format('woff2'), url('../fonts/opensans/opensansextrabold.woff') format('woff'), url('../fonts/opensans/opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src:  url('../fonts/opensans/opensansextrabolditalic.woff2') format('woff2'), url('../fonts/opensans/opensansextrabolditalic.woff') format('woff'), url('../fonts/opensans/opensansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Bitter';
    src: url('../fonts/bitter/bitter.woff2') format('woff2'), url('../fonts/bitter/bitter.woff') format('woff'), url('../fonts/bitter/bitter.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bitter';
    src: url('../fonts/bitter/bitteritalic.woff2') format('woff2'), url('../fonts/bitter/bitteritalic.woff') format('woff'), url('../fonts/bitter/bitteritalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Bitter';
    src: url('../fonts/bitter/bitterbold.woff2') format('woff2'), url('../fonts/bitter/bitterbold.woff') format('woff'), url('../fonts/bitter/bitterbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Bitter';
    src: url('../fonts/bitter/bitterbolditalic.woff2') format('woff2'), url('../fonts/bitter/bitterbolditalic.woff') format('woff'), url('../fonts/bitter/bitterbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

body h1, h2, h3, h4, h5, h6, li  {
  font-family: 'Open Sans';
  color: #222222;
}

body p {
  font-family: 'Bitter';
  color: #222222;
}

.sidebar {
   position: absolute;
   visibility: hidden;
}


#all_content {
  display: block;
}


.about {
  position: fixed;
  background-color: #212020;
  width: 100%;
  left: 0;
  z-index: 2;
  
}

.logo_left {
  float: left;
  
}

.about img {
  float: left;
  padding: 5px 0px 5px 5px;
  display: inline-block;
}

.about h3 {
  padding: 11px 0px 5px 10px;
  color: white;
  display: inline-block;
  float: right;
}

.about nav {
  display: block;
  text-align: right;
  padding-right: 40px;
  -moz-box-shadow:0px 3px 5px 1px rgba(97, 96, 97,1) ;
  -o-box-shadow:0px 3px 5px 1px rgba(97, 96, 97,1) ;
  box-shadow:0px 3px 5px 1px rgba(97, 96, 97,1) ;
}

.about nav li {
  display: inline;
}

.about li a {
  text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
  display: inline-block;
  padding: 20px 10px 20px 10px;
  color: #FFFDFA;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.about li a:hover { 
  color: #09C4EF;
}

#forSmall {
  display: none;
}

.lessons {
  width: 100%;
  
}

.block_2 {
  position: absolute;
  width: 500px;
  background-color: white;
  z-index: 1;
  top: 100px;
  height: 292px;
  -webkit-box-shadow: 22px 21px 13px -17px rgba(0,0,0,0.51);
  -moz-box-shadow: 22px 21px 13px -17px rgba(0,0,0,0.51);
  box-shadow: 22px 21px 13px -17px rgba(0,0,0,0.51);
}

.block_2 header {
  width: 270px;
  float: left;
  padding-top: 30px;
  padding-left: 10px;
  display: block;
  padding-bottom: 38.75px;
  
 
}

.block_2 header h2 {
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.block_2 header h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid black; 
}

.block_2 header span {
}

.block_2  img {
  padding-right: 10px;
  display: block;
  padding-top: 10px;
  float: right;
}
 
.block_3 {
  z-index: 0;
}

footer {
  width: 100%;
  clear: both;
}

.basement {
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-image: url("../images/footer_image.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.social {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 300px;
}

.social img {
  padding: 0px 10px 0px 10px;
}

.footerInfa h4{
  color: white;
  text-align: center;
  line-height: normal;
}












